<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="carousel-custom-item">
                <div class="offer-container offer1">
                    <h4>KWD 200 Off</h4>
                    <p>Get upto 200 Off on Delivery Charges</p>
                </div>

                <div class="offer-container offer2">
                    <h4>Flat 20% Off</h4>
                    <p>Get upto 20 % Off on new orders</p>
                </div>

                <img class="d-block w-100" src="assets/images/offerCard1.jpg" alt="First slide">
                <img class="d-block w-100" src="assets/images/offerCard2.png" alt="Second slide">
            </div>
        </div>

        <div class="carousel-item">
            <div class="carousel-custom-item">
                <div class="offer-container offer1">
                    <h4>KWD 200 Off</h4>
                    <p>Get upto 200 Off on Delivery Charges</p>
                </div>

                <div class="offer-container offer2">
                    <h4>Flat 20% Off</h4>
                    <p>Get upto 20 % Off on new orders</p>
                </div>

                <img class="d-block w-100" src="assets/images/offerCard2.png" alt="Second slide">
                <img class="d-block w-100" src="assets/images/offerCard3.png" alt="Third slide">
            </div>
        </div>

        <div class="carousel-item">
            <div class="carousel-custom-item">
                <div class="offer-container offer1">
                    <h4>KWD 200 Off</h4>
                    <p>Get upto 200 Off on Delivery Charges</p>
                </div>

                <div class="offer-container offer2">
                    <h4>Flat 20% Off</h4>
                    <p>Get upto 20 % Off on new orders</p>
                </div>

                <img class="d-block w-100" src="assets/images/offerCard3.png" alt="Third slide">
                <img class="d-block w-100" src="assets/images/offerCard1.jpg" alt="First slide">
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- <div class="offer-card">
    <img [src]="offerDetails.imgUrl" style="width: 100%; height: 100%;">
    <div class="offer-text-container">
        <p>{{offerDetails.offerValue}}</p>
        <p>{{offerDetails.offerDesc}}</p>
    </div>
</div> -->