<div class="footer-container">
    <div class="footer-main">
        <div class="first-column">

            <div class="logo">
                <i class="fa fa-codiepie" aria-hidden="true"></i>
                <span>Curve</span>
            </div>

            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>

            <div class="contact-info">
                <div class="icon-container">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
                <span>Curve2676@gmail.com</span>
            </div>

            <div class="contact-info">
                <div class="icon-container">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <span>+91 8988-832-576, +91 8383-256-876</span>
            </div>
        </div>

        <div class="second-column">
            <p>Get to know us</p>
            <p>Terms & Conditions</p>
            <p>Privacy policy</p>
            <p>About us</p>
        </div>

        <div class="second-column">
            <p>Help</p>
            <p>FAQs</p>
            <p>Contact us</p>
        </div>

        <div class="forth-column">
            <p>Download Apps</p>
            <button>
                <i class="fa fa-apple" aria-hidden="true"></i>
                <span class="button-content">Download on the <span class="store-name">App Store</span></span>
            </button>
            <button>
                <i class="fa fa-play" aria-hidden="true"></i>
                <span class="button-content">Download on <span class="store-name">Google Play</span></span>
            </button>
        </div>
    </div>

    <hr>

    <div class="copyright">
        <i class="fa fa-copyright" aria-hidden="true"></i>
        2024 Curve - All Right reserved
    </div>
</div>